    <div class="f-nav-bar">
      <div class="f-nav-bar-body">
        <div class="f-nav-bar-title">
          <li><%= link_to ' Медицинский центр "Здоровье"', root_path %></li>
        </div><!-- f-nav-bar-title -->
        <ul class="f-nav">
          
          <li><%= link_to "Услуги", services_path %></li>
          <li><%= link_to "Наш коллектив", collective_path %></li>
          <li><%= link_to "Справки", enquiry_path %></li>
          <li><%= link_to "Отзывы", comments_path %></li>
          <li><%= link_to "Фотогалерея", photos_path %></li>
          <li><%= link_to "Документы", documents_path %></li>
          <li><%= link_to "Это интересно", interesting_path %></li>
          <li><%= link_to "Вопрос-Ответ", qa_path %></li>
          <li><%= link_to "Контакты", contacts_path %></li>

        </ul><!-- f-nav -->
      </div><!-- f-nav-bar-body -->
    </div><!-- f-nav-bar -->

